<!-- views/signup.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Регистрация</title>
  <link rel="stylesheet" href="public/css/signup.css">
</head>
<body>
  <div class="signup-container">
    <h1>Регистрация</h1>
    <% if (errorMessage) { %>
      <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <form action="/signup" method="post">
      <label for="username">Имя пользователя:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Пароль:</label>
      <input type="password" id="password" name="password" required>
      <label for="confirmPassword">Подтвердите пароль:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required>
      <input type="submit" value="Зарегистрироваться">
    </form>
    <div class="login-link">
      Есть аккаунт? <a href="/login">Войти</a>
    </div>
  </div>
</body>
</html>
